@import "../variables";
.favTitle {
  margin: 0px, 10px;
}
.favorites {
  width: 100%;
  
  .noFavs{
    padding: 20px;
    @extend %Roboto;
  }
}
@media only screen and (min-width: $tabletWidth) {
  .favTitle {
    margin: 0px;
    padding: 0px, 10px;
  }
  .favorites {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px;
    justify-content: center;
}
}
