@import "../../../variables";

.launchImg {
  width: 100%;
}
.flickr {
  display: flex;
  flex-direction: column;
  align-items: center;
  .flickrImg {
    margin: 5px 0px;
    max-width: 100%;
  }
}
.showImagesButton {
  @extend %Roboto;
  justify-self: center;
  height: 25px;
}
.showImagesButton:hover {
  cursor: pointer;
  font-size: 15px;
}

@media only screen and (min-width: $tabletWidth) {
  .launchImg {
    margin: 5px 0px;
    height: 280px;
    width: 280px;
  }
}
