$tabletWidth: 500px;

$color1: lightGray;
$color2: gray;
$color3: #882D61;
$color4: #FFAAAA;

%Turret{
    font-family: 'Turret Road', cursive;
    font-weight: 400;
}
%Saira{
    font-family: 'Saira Stencil One', cursive;
    font-weight: 400;
}
%Notable{
    font-family: 'Notable', sans-serif;
    font-weight: 400;
}
%Audiowide{
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    font-size: 20px;
}
%Roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
