@import "../variables";

.launch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $color2;
  margin: 10px 0px;
  padding: 10px;
  @extend %Audiowide;
  justify-content: center;

  border: 4px solid $color1;

  button {
    background-color: transparent;
    border: transparent;
  }
  .launchTitle {
    width: 80%;
    margin: 0px;
  }
  .launchDate {
    margin: 0px 0px 10px 0px;
  }
  .favoriteButton {
    font-size: 30px;
    color: pink;
    padding: 5px;
    height: 50px;
    width: 50px;
    margin: 20px 0px;
    text-align: center;
  }
  .favoriteButton:hover {
    cursor: pointer;
    font-size: 35px;
  }
  .launchDesc {
    @extend %Roboto;
  }
  .descButton {
    @extend %Audiowide;
    margin: 5px 0px;
  }
  .descButton:hover {
    cursor: pointer;
    font-size: 25px;
  }
}

@media only screen and (min-width: $tabletWidth) {
  .launch {
    margin: 5px 5px;
    width: 280px;
    flex: 0;

    .launchDesc {
      padding: 0px 5px;
    }
    .descButton{
      height: 35px;
    }
  }
  .launch:hover {
    border: 4px solid black;
  }
}
